*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


html{
    scroll-behavior: smooth;
}

div#tmNavbar{
    min-height: 6vh;
    width: 100%;
    background-color: #383E4C;
    padding: 0 0 20px 0;  
    z-index: 1;
    position: fixed;
}

.navbar-nav{
    display: flex;
    justify-content: center;

}
.single-page-nav ul li{
    list-style: none;
    padding: 0 1rem;
    margin-top: 25px;
    z-index: 2;
}
.single-page-nav ul li a{
    text-decoration: none;
    color: white;
    padding: 15px 25px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    font-size: 20px;
    

}
.single-page-nav ul li a:hover{
    background-color: #49505f;
    
}
div#section1{
    background-image: url('./img/bg-1.jpg');
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    color: rgba(255, 255, 255, 0.877);
    width:100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.header-content  h1 {
    color: #fff;
    font-size: 70px;
    text-transform: uppercase;
    text-shadow: 2px 2px #000;
    margin: 20px 0 10px;
    font-family:sans-serif;
    font-weight: 20;
    text-align: start;
}
  .header-content h4 {
    color: #fff;
    font-size: 25px;
    text-shadow: 1px 1px #333;
    font-weight: 100;
    text-align: start;
    margin: 10px 10px;
  }
 
 
  div#section2 .row.text-center.inner{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
     
  }
.feature-content{
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    min-height: 435.66px;
    max-width: 360px;
    align-items: center;
    margin-top: 5rem;

}

.feature-content p{
    padding: 0 20px 35px;
    font-size: 14px;
    color: #333333;
    line-height: 20px;
    font-weight: 500;

}
.feature-content p a{
    text-decoration: none;
    color: #337ab7;
}
.feature-content h2{
    padding: 1rem;
    font-size: 20px;
    font-weight: bold;
    margin-right: auto;
    margin-left: 5px;
}
.feature-content h2.green-text{
    color: green;
}
.feature-content h2.blue-text{
    color: #1686c1;
}
.feature-content h2.red-text{
    color: #666666;
}
div.inner{
    display: flex;
    justify-content: space-around;
}
div.col-sm-4{
    padding: 0 15px;
}
a.feature-content-link{
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 1px solid white;    
    color: white;
    border-radius: 5px;
    width: 110px;
    height: 25px;
    text-transform: capitalize;
    font-weight: bold;
    font: 18px;
    transition: all 0.3s ease;
}
a.feature-content-link:hover{
    opacity: 0.9;
 }

a.feature-content-link.green-btn{
    background:  #178a27;
}
a.feature-content-link.blue-btn{
    background: #1686c1
}
a.feature-content-link.red-btn{
    background: #852406;
}
.blog-content{
    display: flex;
    flex-direction: column;
    background: #f2f2f2;
    width: 35rem;
}
.col-sm-6{
    padding: 0 15px;
}
section#blog-area{
    margin: 4rem 0;
}
section#blog-area div.inner{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.blog-content h2{
    margin: 20px 0 10px;
    display: flex;
    justify-content: center;
    color: #666666;
    font: 20px;
}
.blog-content>p{
    padding: 1rem;
    font: 20px;
    color: #666666;
}
.blog-content a{
    text-decoration: none;
    padding: 10px 30px;
    background: white;
    color: #666666;
    border: 1px solid #666666;    
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin: 5px 80px 0 auto;
    text-transform: capitalize;   
}
.blog-content a:hover{
    background-color: #f2f2f2;
}
div.our-service{
    background: url(./img/bg-2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    color: whitesmoke;
}

div.service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
div.service h1{
    font-size: 36px;
    margin: 20px 0;
    font-weight: 500;
    text-shadow: 1px 1px #000;
}
div.service p{
    line-height: 30px;
    font-size: 18px;
    text-align: center;
    font-weight: 500

}
section#testimornial-area div.row{
    display: flex;
    justify-content: center;
    width: 100%; 
    flex-wrap: wrap;
 }
 section#testimornial-area div.row.text-center{
    margin: 60px 0 10px;
 }
 section#testimornial-area{
     margin: 60px 0;
 }
.testimonial-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f2f2f2;
    width: 260px;
    height: 500px;
    color: #333333;
}
.col-lg-3{
    padding: 15px;
    margin: 0;
}
.testimonial-content h2{
    margin: 20px 0 10px;
    color: #666666;
    font-size: 24px;
}
.testimonial-content p{
    padding: 10px 20px;
}
.testimonial-content a{
    text-decoration: none;
    border: 1px solid #cdcdcd;
    border-radius: 10px;
    margin: 15px 0 0;
    padding: 10px 30px;
    color: #666666;
    background: white;
    text-transform: capitalize;
    font-size: 18px;
    transition: all 0.3s ease;
}
.testimonial-content a:hover{
    color: rgb(24, 10, 88);
    background: #b4b1b1;
}
.tm-box{
    display: flex;
    flex-direction: column;
    margin:  10px 0;
    background: #f2f2f2;
    align-items: center;
    width: 1140px;


}
.tm-box-description{
    padding: 30px;
}
a.content-link{
    text-decoration: none;
    border: 1px solid #cdcdcd;
    border-radius: 10px;
    margin: 25px 0;
    padding: 10px 30px;
    color: #666666;
    background: white;
    text-transform: capitalize;
    font-size: 18px;
    transition: all 0.3s ease;
}
a.content-link:hover{
color: rgb(24, 10, 88);
background: #b4b1b1;
}
.tm-box h2{
    margin: 20px 0 10px;
    font-size: 20px;
    color: #666666;
}
.tm-box-p{
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}
.tm-box-p:nth-child(3){
    padding-bottom: 20px;
}

section.contact-section{
    background: url(./img/bg-3.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height:58vh;
}

section#contact-area.contact-section{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.contact-section h1{
    margin: 20px 0 30px;
    font-size: 36px;
    color: white;
    text-transform: capitalize;
    font-weight: 500;
    text-shadow: 1px 1px black;
    font-family: sans-serif;
    text-align: center;
}
.contact-section p{
    padding: 20px 15px;
    margin-bottom: 20px;
    background: rgba(242, 242, 242, 0.4);
    text-align: center;
    font-size: 16px;
    color: #000000;
    border-radius: 5px;
    max-width: 690px;
    min-height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 25px;
}
div.form-group{
    display: flex;
    flex-direction: column;
}
.contact-form{
    display: flex;
    justify-content: space-between;
}

.form-control{
    padding: 6px 12px;
    margin-bottom: 15px;
    background: rgba(242, 242, 242, 0.4);
    width: 317px;
    border-radius: 5px;    
}
div.contact-content{
    padding: 0 15px;
    width: 100%;
}
button.btn-default{
    margin-top: 20px;
    padding: 10px 30px;
    background-color: #262628;
    color: #ffffff;
    font-size: 18px;
    border-radius: 10px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    cursor: pointer;
}
button.btn-default:hover{
    background: #cdcdcd;
    color: #333333;
}
textarea#comment.form-control{
    height: 110px;
    width: 319px;
}
footer#footer-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
div.footer-content h1{
    margin: 35px 0 25px;
    color: #666666;
    font-style: italic;
    font-weight: 500;
}
div.footer-content p{
    color: #999999;
    font-style: italic;
    margin-bottom: 30px;

}
hr{
    height: 1px;
    width: 100%;
    margin: 20px 0;
    background-color:rgba(242, 242, 242, 0.4);
}
p.copy{
    margin: 10px 0 30px;
    color: #999999;
    font-size: 12px;
}
button.navbar-toggle{
    display: none;
}
@media only screen and (max-width: 760px){ 
    body{
        overflow-x: hidden;
    }
    .sticky-wrapper{
       transform: translateY(-100%);
       transition: all 0.3s ease-in-out;

    }  
   
    .navbar-nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #383E4C;
        height: 55vh;
        width: 100%;
    }
    .single-page-nav ul li {
        margin-top: 50px;
    }
    button.navbar-toggle{
        display: flex;
        flex-direction: column;
        cursor: pointer;
        padding: 10px;
        position: fixed;
        z-index: 2;
        background: none;
        border: none;


    }
    div.navbar-header{      
        height: 0;
        widows: 0;
    }
    span.icon-bar{
        width: 30px;
        height: 2px;
        background-color: #fff;
        margin: 5px;
        z-index: 5;

    }
    
    .nav-active{
        transform: translateY(0%); 
        transition: all 0.3s ease-in-out;
    }
    .blog-content{
        width: 65%;
        justify-content: center;
        margin: 2rem auto;
    }
    div.service{
        width: 80%;
        height: 100%;
    }
    .tm-box img{
        width: 100%;
    }

   section#testimornial-area div.tm-box{
       width: 100%;
       margin: auto;
   }
   div.col-lg-12{
       width: 75%;
   }
 
   section#contact-area.contact-section .container{
       width: 80%;
   }
   .contact-form{
       flex-direction: column;
       height: 60%;
       width: 80%;
   }
   .contact-section p{
       word-wrap: break-word;
       text-align: center;
   }
  button.btn{
      margin-left: auto;
      margin-bottom: 15px;
  }


}
@media only screen and (max-width: 375px){
    body{
        overflow-x: hidden;
        zoom: 100%;        
    }

    div.our-service{
        height: 125%;
    }
   
    .form-control{
        width: 160%;
    }
    textarea#comment.form-control{
        width: 235px;
    }
    div#section1{
        height: 45vh;
    }
}